<!DOCTYPE html>
<html>
<head>
    <title>ZOOLOGICO</title>
</head>
<body>

    <h2>Insertar Animal</h2>

    <form action="/insertar" method="POST">
        <input type="text" name="nombre" placeholder="Nombre" required><br><br>
        <input type="text" name="especie" placeholder="Especie" required><br><br>
        <input type="date" name="fecha" required><br><br>
        <button type="submit">Guardar</button>
    </form>

    <h2>Lista de Animales</h2>

    <ul>
        {% for animal in animales %}
            <li>{{ animal['nombre'] }} - {{ animal['especie'] }}</li>
        {% endfor %}
    </ul>

    <a href="/ver_tablas"> Ver todas las tablas</a>

</body>
</html>