{% extends "base.html" %}
{% block content %}

<div class="card shadow p-4">
<h3>
    <i class="bi bi-envelope"></i> Formulario de Contacto
</h3>

<form method="POST">

<div class="mb-3">
    <label class="form-label">
        <i class="bi bi-person"></i> Nombre
    </label>
    <input name="nombre" class="form-control" required>
</div>

<div class="mb-3">
    <label class="form-label">
        <i class="bi bi-envelope-at"></i> Email
    </label>
    <input name="email" class="form-control" required>
</div>

<div class="mb-3">
    <label class="form-label">
        <i class="bi bi-chat-left-text"></i> Mensaje
    </label>
    <textarea name="mensaje" class="form-control" required></textarea>
</div>

<button class="btn btn-success w-100">
    <i class="bi bi-send"></i> Enviar
</button>

</form>

</div>

{% endblock %}